.profile {
	display: inline-block;
	img {
		max-width: 128px;
		max-height: 128px;
	}
}

.member-item {
	img {
		max-width: 96px;
		max-height: 96px;
	}
	padding: 5px;
}

.inputs input {
	width: 180px;
}