/* line 4, ../sass/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/styles.scss */
.page-header {
  position: relative;
}

/* line 13, ../sass/styles.scss */
.indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

/* line 20, ../sass/styles.scss */
.profile {
  display: inline-block;
  padding: 0 8px 8px;
  text-align: center;
}
/* line 22, ../sass/styles.scss */
.profile img {
  max-width: 128px;
  max-height: 128px;
}

/* line 30, ../sass/styles.scss */
.inputs input {
  width: 180px;
}

/* line 34, ../sass/styles.scss */
.thumb {
  max-width: 128px;
  max-height: 128px;
}

/* line 38, ../sass/styles.scss */
.member {
  padding: 5px 0;
  position: relative;
}
/* line 41, ../sass/styles.scss */
.member .friend {
  text-align: right;
}
/* line 44, ../sass/styles.scss */
.member .delete-action {
  position: absolute;
  right: 0px;
  top: 0px;
}

/* line 51, ../sass/styles.scss */
.credits {
  width: 300px;
  margin-top: 400px;
  padding: 2em;
  border-radius: 3em;
  border: 5px;
  border-style: solid;
  border-color: #bf7522;
}
