/* line 1, ../sass/styles.scss */
.profile {
  display: inline-block;
}
/* line 3, ../sass/styles.scss */
.profile img {
  max-width: 128px;
  max-height: 128px;
}

/* line 9, ../sass/styles.scss */
.member-item {
  padding: 5px;
}
/* line 10, ../sass/styles.scss */
.member-item img {
  max-width: 96px;
  max-height: 96px;
}

/* line 17, ../sass/styles.scss */
.inputs input {
  width: 180px;
}
