/* line 2, ../sass/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/styles.scss */
.indicator img {
  max-width: 5px;
}

/* line 14, ../sass/styles.scss */
.profile {
  display: inline-block;
}
/* line 16, ../sass/styles.scss */
.profile img {
  max-width: 128px;
  max-height: 128px;
}

/* line 22, ../sass/styles.scss */
.inputs input {
  width: 180px;
}

/* line 27, ../sass/styles.scss */
.thumb-wrapper {
  border: 1px solid green;
  width: 102px;
  height: 102px;
  text-align: center;
  padding: 2px;
  display: inline-block;
}
/* line 33, ../sass/styles.scss */
.thumb-wrapper img {
  max-width: 96px;
  max-height: 96px;
}

/* line 39, ../sass/styles.scss */
.member-item {
  padding: 5px;
}
/* line 41, ../sass/styles.scss */
.member-item .text {
  display: inline-block;
}
