$gold: #BF7522;
$credits-rounded-amount: 3em;

* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
//  -webkit-border-radius: 0px !important;
//  border-radius: 0px !important;
}

.page-header {
  position: relative;
}
.indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
}

.profile {
  display: inline-block;
  img {
    max-width: 128px;
    max-height: 128px;
  }
  padding: 0 8px 8px;
  text-align: center;
}

.inputs input {
  width: 180px;
}

.thumb {
  max-width: 128px;
  max-height: 128px;
}
.member {
  padding: 5px 0;
  position: relative;
  .friend {
    text-align: right;
  }
  .delete-action {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.credits {
  width: 300px;
  margin-top: 400px;
  padding: 2em;
  border-radius: $credits-rounded-amount;
  border: 5px;
  border-style: solid;
  border-color: $gold;
}